/* Tema Claro */
.light {
    background-color: #ffffff;
    color: #000000;
}

/* Tema Escuro */
.dark {
    background-color: #121212;
    color: #ffffff;
}

/* Tamanhos de Fonte */
.small {
    font-size: 12px;
}

.medium {
    font-size: 16px;
}

.large {
    font-size: 20px;
}

/* Modo Daltonismo */
.deuteranopia {
    background-color: #f0f0f0;
    color: #000000;
}

.protanopia {
    background-color: #e0e0e0;
    color: #000000;
}

.tritanopia {
    background-color: #d0d0d0;
    color: #000000;
}
