/* Temas claro e escuro */
body.tema-claro {
    background: #fff;
    color: #222;
}

body.tema-escuro {
    background: #1e1e1e;
    color: #eee;
}

/* Tamanhos de fonte */
body.fonte-normal {
    font-size: 16px;
}

body.fonte-grande {
    font-size: 20px;
}

body.fonte-muito-grande {
    font-size: 24px;
}

/* Tema Daltônico (cores seguras) */
body.daltonico {
    background-color: #fefefe;
    color: #000;
}

body.daltonico h1, 
body.daltonico h2 {
    color: #005fcc; /* Azul seguro */
}

body.daltonico img {
    border: 3px solid #000;
}

button {
    background-color: #ffb6c1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

body.daltonico button {
    background-color: #ffc107; /* Amarelo forte */
    color: #000;
}

select {
    padding: 5px;
    margin: 5px 0;
}
